[submodule "modules/config"]
  path = modules/config
  url = https://github.com/anselmes/config.git
[submodule "modules/toolchain"]
  path = modules/toolchain
  url = https://github.com/anselmes/toolchain.git
[submodule "modules/images"]
  path = modules/images
  url = https://github.com/anselmes/images.git
[submodule "modules/sandbox"]
  path = modules/sandbox
  url = https://github.com/sanselme/sandbox.git
  branch = hello
[submodule "modules/esp"]
  path = modules/esp
  url = https://github.com/espressif/esp-idf.git
  branch = release/v5.4
[submodule "modules/matter"]
  path = modules/matter
  url = https://github.com/espressif/esp-matter.git
  branch = release/v1.3
